* {
  box-sizing: border-box;
  font-family: montserrat;
}

:root{
    --black: #020202;
    --white: #ffffff;
}

body {
  padding: 0;
  margin: 0;
}
a{
    text-decoration: none;
    color: var(--white);
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

/* paddings */
.p-10{
    padding: 10px;
}
.py-10{
    padding: 10px 0;
}
.px-10{
    padding:0 10px;
}



.p-20{
    padding: 20px;
}
.py-20{
    padding: 20px 0;
}
.px-20{
    padding:0 20px;
}


.p-30{
    padding: 30px;
}
.py-30{
    padding: 30px 0;
}
.px-30{
    padding:0 30px;
}



.p-40{
    padding: 40px;
}
.py-40{
    padding: 40px 0;
}
.px-40{
    padding:0 40px;
}


.m-40{
    margin: 40px;
}
.my-40{
    margin: 40px 0;
}
.mx-40{
    margin:0 40px;
}
.mt-40{
    margin:40px 0 0 0;
}
.mb-40{
    margin: 0 0 40px 0;
}
/*margins */


/* grid layouts */
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.gap-10{
    gap: 10px;
}
.gap-20{
    gap: 20px;
}
.gap-30{
    gap: 30px;
}
.gap-40{
    gap: 40px;
}
.gap-50{
    gap: 50px;
}
.gap-60{
    gap: 60px;
}

.col-1 {
    width: calc((100% / 12) * 1);
  }
  .col-2 {
    width: calc((100% / 12) * 2);
  }
  .col-3 {
    width: calc((100% / 12) * 3);
  }
  .col-4 {
    width: calc((100% / 12) * 4);
  }
  .col-5 {
    width: calc((100% / 12) * 5);
  }
  .col-6 {
    width: calc((100% / 12) * 6);
  }
  .col-7 {
    width: calc((100% / 12) * 7);
  }
  .col-8 {
    width: calc((100% / 12) * 8);
  }
  .col-9 {
    width: calc((100% / 12) * 9);
  }
  .col-10 {
    width: calc((100% / 12) * 10);
  }
  .col-11 {
    width: calc((100% / 12) * 11);
  }
  .col-12 {
    width: calc((100% / 12) * 12);
  }

/* grid */

.grid{
    display: grid;
}


/* buttons */

.black-btn{
    border-radius: 15px;
    background-color: var(--black);
    height: 48px;
    min-width: 120px;
    color: var(--white);
    padding:0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

footer{
    height: 35px;
    background-color: var(--black);
    color: var(--white);
    font-size: 0.75rem;
    font-weight: 200;
    
}

/* navigation bar */
nav {
  height: 125px;
  align-items: center;
}

.navigation-menu{
    border-radius: 100px;
    background-color: var(--black);
    height: 60px;
    width: 100%;
    color: var(--white);
    padding:0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav img {
  filter: invert();
  height: 60px;
  width: 60px;
}

nav a{
    opacity: 0.8;
}

nav a.active{
    opacity: 1;
    font-weight: 700;
}

/* main part */

main section{
    width: 1440px;
    height: calc(100vh - 200px);
}
.foo{ 
    background-color: pink;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
 
   
}
.foo .buzz{
    grid-column: 1 / 10 span ;
    grid-row: 1 / 7 span;
    background-color: azure;
    border-radius: 50px 0 0  50px;
}

.foo .fuzz{
    grid-column: 2 span ;
    grid-row: 12 span;
    border-radius: 0 50px 50px 50px;
    background-color: azure;
}

.foobooz{
    background-color: white;
    grid-column: 10 span ;
    grid-row:  5 span;
    border-radius: 0 50px 0 0 ;

}
.bar{
    background-color: blue;
}