:root {
  --yellow: #ffc857;
  --red: #db3a34;
  --dark-gray: #323031;
  --white: #ffffff;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: 200px;
}

body {
  background-color: var(--dark-gray);
  font-family: "Vazirmatn";
}

header {
  background-color: var(--yellow);
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  overflow-x: scroll;
  display: flex;
}

header nav ul::-webkit-scrollbar {
  display: none;
}
header li {
  width: 60px;
  height: 60px;
  margin: 10px 5px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 10px;
}

header li img {
  width: 32px;
  height: 32px;
}

main {
  margin-top: 150px;
  padding: 0 10px;
  height: 300dvh;
}

main h2 {
  color: var(--red);
  width: 100%;
  text-align: center;
  margin: 20px 0 10px 0;
}

main li {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white);
  height: 92px;
  padding: 4px;
  margin: 10px 0;
  border-radius: 12px;
}
main li h3 {
  font-weight: 900;
  font-size: 14px;
}
main li p {
  overflow: hidden;
  line-height: 25px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
  text-wrap: nowrap;
  text-overflow: ellipsis;
  width: calc(100vw - 125px);
  margin: 4px 0;
}

main li img {
  width: 85px;
  object-fit: cover;
  height: 85px;
  border-radius: 8px;
}

.detail-container {
  padding: 6px;
}

.pricing {
  width: calc(100vw - 145px);
  display: flex;
  justify-content: flex-end;
  gap: 2px;
}

.pricing span:first-child {
  font-size: 21px;
}
.pricing span:last-child {
  font-size: 8px;
}

@media screen and (min-width: 720px) {
  .safe-width {
    width: 980px;
    margin: 0 auto;
  }

  header nav {
    display: none;
  }

  main {
    margin-top: 90px;
  }
  main h2{
    border-bottom: 1px solid var(--red);
    padding: 12px;
    font-size: 32px;
    text-align: right;
  }
  main ul{
    display: flex;
    flex-wrap: wrap;
    gap:1%;
  }
  main li{
    display: block;
    width: 49.5%;
    height: 400px;
  }
  main li img{
    width: 100%;
    height: 200px;
  }
  
}
