@font-face {
  font-family: kalameh;
  src: url("../assets/fonts/KalamehFaNum-Regular.ttf");
}
@font-face {
  font-family: kalameh-bold;
  src: url("../assets/fonts/KalamehFaNum-Bold.ttf");
}
@font-face {
  font-family: kalameh-extraBold;
  src: url("../assets/fonts/KalamehFaNum-ExtraBold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: kalameh-extraBold;
}

/* grid layout */
.col-1 {
  width: calc((100% / 12) * 1);
}
.col-2 {
  width: calc((100% / 12) * 2);
}
.col-3 {
  width: calc((100% / 12) * 3);
}
.col-4 {
  width: calc((100% / 12) * 4);
}
.col-5 {
  width: calc((100% / 12) * 5);
}
.col-6 {
  width: calc((100% / 12) * 6);
}
.col-7 {
  width: calc((100% / 12) * 7);
}
.col-8 {
  width: calc((100% / 12) * 8);
}
.col-9 {
  width: calc((100% / 12) * 9);
}
.col-10 {
  width: calc((100% / 12) * 10);
}
.col-11 {
  width: calc((100% / 12) * 11);
}
.col-12 {
  width: calc((100% / 12) * 12);
}

.p-2 {
  padding: 2px;
}
.p-4 {
  padding: 4px;
}
.p-8 {
  padding: 8px;
}
.p-16 {
  padding: 16px;
}
.p-32 {
  padding: 32px;
}
.p-64 {
  padding: 64px;
}
.p-96 {
  padding: 96px;
}

.py-2 {
  padding: 2px 0;
}
.py-4 {
  padding: 4px 0;
}
.py-8 {
  padding: 8px 0;
}
.py-16 {
  padding: 16px 0;
}
.py-32 {
  padding: 32px 0;
}
.py-64 {
  padding: 64px 0;
}
.py-96 {
  padding: 96px 0;
}

.my-2 {
  margin: 2px 0;
}
.my-4 {
  margin: 4px 0;
}
.my-8 {
  margin: 8px 0;
}
.my-16 {
  margin: 16px 0;
}
.my-32 {
  margin: 32px 0;
}
.my-64 {
  margin: 64px 0;
}
.my-96 {
  margin: 96px 0;
}

.mb-64 {
  margin: 0 0 64px 0;
}

.mt-64 {
  margin: 64px 0 0 0;
}
.row {
  width: 100%;
  display: flex;
}
/* PROJECT CSS */

body {
  padding: 0;
  margin: 0;
}

/* footer css */
footer {
  display: flex;
  justify-content: center;
}

footer section {
  display: flex;
  background-color: #346671;
}
footer div {
  display: flex;
  justify-content: center;
  font-size: 48px;
}
footer div:nth-of-type(1) {
  color: #000000cc;
}
footer div:nth-of-type(2) {
  color: white;
}

footer li::marker {
  color: #ffffffaa;
  font-size: 2rem;
}

footer li {
  list-style-type: decimal-leading-zero;
  padding: 12px 0;
}

/* header css */

.header-container {
  /* background-image: url("../assets/images/tehran/city-under.png");
    background-repeat: no-repeat;
    background-size: cover;
 */
  height: 808px;
  position: relative;
  z-index: 0;
}

.banner-container {
  justify-content: center;
}

.header-container .text {
  font-size: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  position: absolute;
  height: 808px;
  color: #fff;
  padding-bottom: 100px;
  line-height: 150px;
}
.header-container .text p {
  font-family: kalameh;
  word-spacing: 1rem;
}

.header-container img:nth-of-type(1) {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 808px;
}
.header-container img:nth-of-type(2) {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 808px;
}

.architect-container {
  height: 615px;
  justify-content: flex-end;
}

.architect-row {
  display: flex;
}
/* right section of second section ( milad tower ) */
.right-container {
  position: relative;
  width: 350px;
}

.right-container .image-container {
  position: absolute;
  width: 100%;
  height: 500px;
}
.right-container .image-container img {
  width: 100%;
  height: 500px;
  box-shadow: 0px 90px 100px -100px rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.right-container .text-container {
  position: absolute;
  z-index: 1;
  padding: 50px;
  width: 350px;
  font-size: 12px;
  color: white;
  bottom: 115px;
}
.right-container .text-container p {
  font-family: kalameh;
}
.right-container .text-container p:nth-of-type(1) {
  font-size: 18px;
}

.right-container .text-container strong {
  font-family: kalameh-bold;
  font-size: 20px;
}

/* left section of second section ( milad tower ) */

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  align-items: center;
}

.left-container .text-container {
  height: 500px;
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-container .innerText-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left-container .innerText-container h2 {
  font-size: 80px;
  font-family: kalameh-extraBold;
}
.left-container .innerText-container p {
  font-size: 20px;
  font-family: kalameh;
}

.text-90 {
  font-size: 90px;
  font-family: kalameh;
}

.button-container {
  background-color: #346671;
  width: 100%;
  height: 115px;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  gap: 100px;
}

.button-container p {
  font-size: 20px;
  font-family: kalameh;
  margin: 0 40px;
  border-bottom: 1px solid white;
}

/* events */

.events-container {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 425px;
}
.events-container .image-container {
  object-fit: cover;
  width: 100%;
}

.events .image-container img {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.events-container .text-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.events-container .text-container h2 {
  font-size: 48px;
}

.red-button {
  background-color: #a63021;
  color: white;
  font-family: kalameh;
  border-radius: 10px;
  padding: 12px 24px;
  width: max-content;
  text-decoration: none;
}

.events-container .list-container ul{
    background-color:#ECEBE6;
    border-radius: 24px;
    padding: 24px 32px;
}

.events-container .list-container ul li{
    list-style: none;
    border-bottom: 1px solid #D0D0D0;
    padding: 24px 0;
}
.events-container .list-container ul li div:nth-of-type(1){
   display: flex;
   align-items: center;
   gap: 12.5px;
   justify-content: space-between;
}
.disabled-text{
    color: #00000066;
}